#heading {
  color: green;
}

#headingBtn {
  background-color: #253f26;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#headingBtn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}